{% extends 'base.html' %}
{% block content %}

<div class="">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="col d-flex justify-content-center">
        <div class="card shadow p-4 mb-5 bg-body rounded ">
                <h1 class="text-center">Change Password</h1>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
                <hr>
                <br/>
                <br/>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
        </div>
    </div>
</div>

{% endblock %}