{% extends 'base.html' %}
{% block title %}
    About - BuzzFeedle
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">

          <h1 class="text-center mb-4">About BuzzFeedle</h1>
          <p>BuzzFeedle is your go-to source for entertaining and informative content. From breaking news to viral quizzes, we cover a wide range of topics to keep you engaged and entertained.</p>
          <p>Our team of talented writers and editors work tirelessly to bring you the latest stories and trends from around the world. Whether you're looking for in-depth articles or fun listicles, BuzzFeedle has something for everyone.</p>
          <p>Join millions of readers and discover what makes BuzzFeedle the ultimate destination for news, entertainment, and more!</p>
      </div>
    </div>
  </div>

{% endblock %}