{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Top Navbar -->
    {% include 'particals/_header.html' %}
    <!-- Content Section with Django Script -->
    <div class="content">
        <!-- Add your Django script for displaying content here -->
        {% block content %}
        {% endblock %}
    </div>
    {% include 'particals/_footer.html' %}
</body>
</html>
