{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Website</title>
</head>
<body>
	
	<div class="container mt-5">
		<h1>Today's New Blogs</h1>
		<div class="row">
			{% for product in products %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<a href="{% url 'product_detail' pk=product.pk %}">
							<img src="{{ product.image.url }}" alt="{{ product.created_name }}" class="card-img-top" style="height: 250px;">
						</a>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ product.short_description }}</p>
							<a href="{% url 'edit_product' product.pk %}">Edit</a>
							<a href="{% url 'delete_product' product.pk %}">Delete</a> <br>
							<small class="card-text">Created at: {{ product.created_at }}</small> <br>
							<small class="card-text">Updated at: {{ product.updated_at }}</small>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- ONE Method of Pagination  -->
	<!-- <center>
        {%if products.has_previous %} {# whether the previous page exists #}
            <a href="?page={{products.previous_page_number}}"> <- </a> {# link to the prev page #}
        {% endif %}
        <span>{{products.number}}</span> {# the current page number #}
       
        {%if products.has_next %} {# whether the next page exists #}
            <a href="?page={{products.next_page_number}}"> -> </a> {# link to the next page #}
        {% endif %}
    </center> -->
	<div class="Pagination">
		<span class="step-links">
			{% if products.has_previous %}
				<a href="?page=1">&laquo; First </a>
				<a href="?page={{ products.previous_page_number }}"> previous </a>
			{% endif %}

			<span class="current">
				Page {{products.number}} of {{products.paginator.num_pages}}.
			</span>
			
			{% if products.has_next %}
				<a href="?page={{products.next_page_number}}"> next </a>
				<a href="?page={{ products.paginator.num_pages }}"> last &raquo;</a>
			{% endif %}
		</span>
	</div>

{% endblock %}
	<!-- Add Bootstrap JS and jQuery scripts here (if needed) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
