{% extends 'base.html' %}
{% block title %}
    {{ product.name }} - Blog Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ product.name }} - blog</h1>
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" width="400" height="400">
                    <div class="mt-3">
                        <h2 class="card-subtitle mb-2">{{ product.name }}</h2>
                        <p class="card-text">{{ product.description|safe }}</p>
                    </div>
                    <div class="mt-4">
                        {% if user.is_authenticated %}
                            {% if user.id == product.author.id %}
                                <a href="{% url 'edit_product' product.pk %}" class="btn btn-primary mr-2">Edit</a>
                                <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger mr-2">Delete</a>
                            {% endif %}

                        {% endif %}
                        <a href="{% url 'product_list' %}" class="btn btn-secondary">Back to Home page</a>
                        <br/><br/>
                        <hr>
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <form action="{% url 'like_post' product.pk  %}" method="POST">
                                    {% csrf_token %}
                                    <button type="sumbit", name="post_id", value="{{product.id}}", class="btn btn-danger btn-sm">Unlike
                                    </button>  - {{total_likes}} likes
                                </form>
                            {% else %}
                                <form action="{% url 'like_post' product.pk  %}" method="POST">
                                    {% csrf_token %}
                                    <button type="sumbit", name="post_id", value="{{product.id}}", class="btn btn-primary btn-sm">like
                                    </button>  - {{total_likes}} likes
                                </form>
                            {% endif %}
                        {% else %}
                            
                                 <small><a href="{% url 'login' %}">Login </a></small> to like - {{total_likes}} likes
                         
                        {% endif %} 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

